[submodule "test_tools/cmock"]
	path = tools/test/cmock
	url = https://github.com/WojciechJasko/CMock.git
[submodule "test_tools/unity"]
	path = tools/test/unity
	url = https://github.com/WojciechJasko/Unity.git
